body {
    background-color: #E9FBF9;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
footer {
	background-color: #e0f9f7;
}


table {
    border-spacing: 15px;
}
td {
    border: 1px solid black;
    text-align: center;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
