<!-- Root html document -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

		<link rel="stylesheet" href="style.css" type="text/css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


	</head>
	<body>
	<!-- header at top of page -->
	
	
		<div class="header">
			<ul class="ul_header">
				<li class="li_header">
					<a href="{{ url_for('home') }}">
						<img src="bookLogo.png" alt="Book logo" width="100" height="100">
					</a>
				</li>
				
				{% if not session.logged_in %}
				<li class="li_header">
					<a href="{{ url_for('login') }}">
						<button type="button">Log-in</button>
					</a>
				</li>
				{% endif %}
				
				{% if session.logged_in %}
				<li class="li_header">
					<a href="{{ url_for('posting') }}">
						<button type="button">Post Book</button>
					</a>
				</li>
				{% endif %}
				
				<li class="li_header" style="margin:right">
					<a href="{{ url_for('search') }}">
						<button type="button">Search</button>
					</a>
				</li>
				
				<hr>
			</ul>
		</div>
		
		
		<!--
		<div class="topnav">
			<a href="{{ url_for('home') }}">
				<img src="bookLogo.png" alt="Book logo" width="100" height="100">
			</a>
			{% if not session.logged_in %}
			<a href="{{ url_for('login') }}">
				<button type="button">Log-in</button>
			</a>
			{% endif %}
			{% if session.logged_in %}
			<a href="{{ url_for('posting') }}">
				<button type="button">Post Book</button>
			</a>
			{% endif %}
			<div class="topnav-right">
				<a href="{{ url_for('search') }}">
					<button type="button">Search</button>
				</a>
			</div>
		</div>
		-->
		
		{% block header %}{% endblock %}

		<div class="container">

		<!-- Rest of file will be inserted into this gap in the other html files -->
		{% block body %}{% endblock %}

		</div>
	<footer>
		<p>Creators:</p>
		<p>Massimo Albano, Sean Janssens, Ikenna Uduh, Yuxi Wang, Dean Willavoys</p>
		{% block footer %}{% endblock %}
	</footer>
	</body>

</html>