{% extends "layout.html"%}
{% block header %}
		<title>Search Results Page</title>
{% endblock %}
{% block body %}
	<div> <!-- Contains the filter sidebar and the books found in the search -->
		<form method="POST">
			<select name="searchby" class="btn-sm btn-dark dropdown-toggle">
				<option value="BTitle">Title</option>
				<option value="BAuthor">Author</option>
				<option value="BCourse" selected>Course Number</option>
				<option value="BISBN">ISBN</option>
			</select>

			<input type="text" name="query">
			<button type="submit" class="btn-sm btn-dark" onsubmit="change()">Search!</button>
		</form>
		<br>
		<div>
			<section> <!-- table of all books that are found in this search -->
				{% if books|length > 0 %}
				<h4>Found {{books|length}} Result(s) :  {{ query }}</h4>
				{% endif %}
				<table class="table table-borderless">
				<tr>
				{% for b in books %}
				  <td><a href="{{ url_for('book', isbn=b['BISBN']) }}"><img src="{{ b['BPic'] }}" alt="Image of {{ b['BTitle'] }}" width="425" height="550"> </a><br> {{ b['BTitle'] }} <br> ${{ b['BPrice'] }} </td>
				  {% if loop.index is divisibleby 3 or loop.last %}
					</tr>
					{% if not loop.last %}
					<tr>
					{% endif %}
				  {% endif %}
				<!-- This else only reached when books is empty -->
				{% else %}
				{% if post %}
					</tr><h2>No results</h2>
				{% endif %}
				{% endfor %}
			  </table>
			</section>
		</div>
	</div>
{% endblock %}